nav{
    display:flex;
    background-color: grey;
}
.logo > img{
    width: 5em;
    height: auto;
}
nav > ul {
    list-style: none;
    text-decoration: none;
    display:flex;
    flex-direction:row;
}
nav > ul > li{
    padding:0.5em;
    font-size: 1.2em;
    margin:0em 1em;
    margin-top:0.2em;
}

nav > ul > li > a{
    text-decoration: none;
}